.cart-dropdown {
    position: absolute;
    top: 6rem;
    right: -2rem;
    background-color: white;
    border: 1px solid black;
    height: 40rem;
    padding: 2rem;
    z-index: 10;
    
    .cart-items {
        height: 30rem;
        overflow-y: scroll;
    }

    button {
        width: 22rem;
        margin-top: 1rem;
        
        &:hover {
            border: 1px solid #6464ff;
        }
    }
}